@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: CaskaydiaNF;
  src: url(https://github.com/ryanoasis/nerd-fonts/raw/2.1.0/patched-fonts/CascadiaCode/complete/Caskaydia%20Cove%20Nerd%20Font%20Complete%20Mono%20Windows%20Compatible.ttf);
}

code {
  font-family: CaskaydiaNF;
}
